html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #e0e6e6;
    font-size: 12pt;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Lora', serif;
    color: black;
    margin: 0;
    padding: 0;
    position: relative;  
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: #e0e6e6;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #c84f4f;    /* color of the scroll thumb */
}

.content {
    padding: 0 0 0 0;
}

div .section {
    text-align: center;
    padding: 15px 15% 30px 15%;
    margin: 0;
}

.section p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu {
    background-color: #cecece;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 49px;
}

.header {
    width: 100%;
    height: 200px;
    /*background-color: #191919;*/
    background: #bfc1c9 url(https://i.imgur.com/y052Nlj.png) bottom center no-repeat;
    padding-top: 8px;
    border-bottom: 5px solid #777272;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    border-width: 0;
    border-style: solid;
    width: 180px;
    height: 180px;
    overflow: hidden;
    filter: grayscale(100%);
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #c84f4f;
    margin: 0;
    padding: 0;
}

.skill-length {
    display: inline;
    color: #ffaaaa
}

#skills h1 {
    text-align: center;
}

#skills {
    text-align: left;
}

#skills ul {
    list-style-type: square;
    margin: 0 0 10px 0;
    padding: 0;
}

hr {
    border-color: rgb(221, 230, 230);
}

.menu ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.right {
    float: right;
}

.menu li a:hover {
    color: #c84f4f;
}

.skills-grid-wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#skills li {
    margin-left: 30px;
}

.grid-item {
    padding-left: 5px;
    padding-right: 5px;
}

div.center-form {
    display: block;
    text-align: center;
}

.login-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 30px;
}

.login-form input {
    padding: 10px;
    margin: 10px 0;
    border-style: hidden;
    border-radius: 10px;
    background-color: #a0a0a0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #000000;
}

.login-form input::placeholder {
    color: #6b6a6a;
}

.login-form button {
    padding: 10px;
    margin: 10px 0;
    border-style: hidden;
    border-radius: 10px;
    background-color: #c84f4f;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12pt;
}

.login-form button:hover {
    color: #000000;
    cursor: pointer;
}

.setup-header-wrapper {
    padding-left: 25%;
    padding-right: 25%;
}

.setup-header {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.section a {
    text-decoration: none;
    color: #c84f4f;
}

.support-button {
    background-color: #c84f4f;
    color: #000000;
    width: 50%;
    border-style: none;
    border-radius: 50px;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: auto;
}

.about-image {
    height: 90px;
    width: auto;
    transition: transform .15s;
}

.about-image:hover {
    transform: scale(1.7);
}

.login-form select {
    padding: 10px;
    margin: 10px 0;
    border-style: hidden;
    border-radius: 10px;
    background-color: #a0a0a0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: #000000;
}

.distance-unit-selection-row {
    display: grid;
    grid-template-areas:
        'distance-block unit-block';
}

.distance-block {
    padding-right: 5px;
    grid-area: distance-block;
}

.unit-block {
    padding-left: 5px;
    grid-area: unit-block;
}

.total-walked {
    font-size: 130%;
    color: white;
    background-color: #c84f4f;
}

.chart-container {
    width: 100%;
}

.chart {
    margin: auto;
}

@media screen and (max-width: 600px) {
    .menu {
        height: auto;
    }

    .menu ul {
        display: block;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding-left: 0;
    }
    
    .menu li {
        padding-left: 0px;
        width: 100%;
        float: left;
    }
    
    .menu li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    .right {
        display: none;
    }

    .center-form {
        padding: 10px;
    }

    .support-button {
        width: 100%;
    }

    .chart-container {
        display: none;
    }
}
  